
.root {
    border: 3px solid transparent;
    border-radius: 6px;
    outline: none;
}

.root:hover {
    border: 3px solid rgb(216, 216, 216);
}

.root:focus {
    border: 3px solid rgb(138, 138, 138);
}

.root.small {
    font-size: 16px;
}

.root.medium {
    font-size: 22px;
}

.root.large {
    font-size: 36px;
}

.error {
    border: 3px solid rgba(122, 18, 18, 0.45);
    background-color: #FFCCCC
}

.root.error:hover {
    border: 3px solid rgba(122, 18, 18, 0.45);
    background-color: #FFCCCC
}

.root.error:focus {
    border: 3px solid rgba(122, 18, 18, 0.65);
    background-color: #FFCCCC
}

.valid {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}