
.root {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.container {
    background-color: rgb(0, 162, 255);
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
    padding-left: 5px;
    vertical-align: middle;
}

.almostMedium {
    width: 24px;
    height: 24px;
    padding: 1px;
}

.container:hover {
    background-color: rgba(0, 162, 255, 0.5);
}

.container.red {
    background-color: rgb(189, 0, 0);
}

.container.red:hover {
    background-color: rgb(163, 0, 0);
}

.container.white {
    background-color: rgb(255, 255, 255);
}

.container.white:hover {
    background-color: rgb(235, 235, 235);
}

.container.grey {
    background-color: rgb(200, 200, 200);
}

.container.grey:hover {
    background-color: rgb(170, 170, 170);
}

.icon {
    width: 22px;
    height: 22px;
}